
.body{
    border: 1px solid blue;
    background: lightblue;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    width: 270px;
    float: left;

}
.form{
    padding: 15px 30px;
}
.input{
    border: 1px solid blue;
    border-radius: 5px;
    background: dodgerblue;
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: bold;
}
.body1{
    border: 1px solid red;
    background: sandybrown;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    width: 270px;
    float: left;
}
.input1{
    border: 1px solid red;
    border-radius: 5px;
    background: darksalmon;
    color: red;
    font-family: Arial, sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    font-weight: bold;
}
.text{
    font-family: Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0.020em;
    color: blue;
}
.text1{
    font-family: Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 0.020em;
    color: red;
}